
<center>
<p> Cargar Mensaje</p>
 <form action="/controlador/publicacionControlador.php/add_mensaje" method="post">
<label for="textAreaField"></label>
<textarea name="mensaje" id="mensaje" rows="4"  cols="50"></textarea>
<input type="checkbox" name="test" value="value1">es publicio ?
  <p><input type="submit"/></p>
 </form>
