<!DOCTYPE html>
<html lang="en">
{% include 'head.html.twig' %}
<body>
{% include 'navBar.html.twig' %}
<div class="container">
  <h3>Parcial</h3>
  <p> Parcial que tenia que hacer el sabado.</p>
</div>
</body>
</html>
