<meta charset="UTF-8">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Twitter</a>
    </div>
    <ul class="nav navbar-nav">
        {% if usuario_logeado %}
      <li class="active"><a href="http://localhost/benitez/index.php?action=publicacion_index">Publicaciones</a></li>
      <li><a href="http://localhost/benitez/index.php?action=add_publicacion">Agregar Publicacion</a></li>
       {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if usuario_logeado %}
      <li><a href="http://localhost/benitez/index.php?action=cerrar_sesion"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{usuario_logeado}}</a></li>
{% else %}

      <li><a href="http://localhost/benitez/index.php?action=login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endif %}

    </ul>
  </div>
</nav>
